<md-card>
  <md-input type="text" class="form-control" placeholder="Search for a genre..." [ngModel]="searchText" (ngModelChange)="searchTextChange($event)"
    #genre> <!--#genre attribute means that the rest of this template can use the variable genre to get at the md-input's properties. -->
  </md-input>

  <md-progress-bar *ngIf="isLoading" mode="indeterminate">
  </md-progress-bar>

  <md-list *ngIf="genre.value !== null && genre.value !== ''" class="search-results">
    <md-list-item *ngFor="let album of albums">
      <img src="assets/img/placeholder.png" alt="album cover imgage" class="img-responsive" height="45" width="45">
      <span class="title">
        {{album.title}}
      </span>
      <button md-raised-button class="pull-right" color="primary" type="button" (click)="onSelect(album)">Go to album</button>
    </md-list-item>
    <md-list-item *ngIf="album.length < 1 && !isLoading">
      <p>No matching genres</p>
    </md-list-item>
  </md-list>
</md-card>